* {
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    background-color: #f3f3f3;
    margin: 0;
}

#container {
    .ql-editor {
        width: 8.5in;
        min-height: 11in;
        padding: 1in;
        margin: 1rem;
        box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.5);
        background-color: #fff;
    }
    .ql-container {
        .ql-snow {
            display: flex;
            top: 0;
            justify-content: center;
            position: sticky;
            z-index: 1;
            background-color: #f3f3f3;
            box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.5);
            border: none
        }
    }
}

@media print {
    body {
        background: none;
    }
    #container {
        .ql-editor {
            width: 6.5in;
            height: 9in;
            padding: 0;
            margin: 0;
            box-shadow: none;
            align-self: flex-start;
        }
        .ql-toolbar {
            display: none;
            .ql-snow {
                display: none;
            }
        }
    }
}